<div class="cd-banner" ><h3>You can reach me @ </h3></div>
<div class="cd-body">
    <h3 class="contact-header social">Email
    <a href="mailto:ipaidimarla@outlook.com">ipaidimarla@outlook.com</a>
         </h3>
    <h3 class="contact-header social">Phone
        <a>(269)-271-3201</a>
    </h3>


    <h3 class="contact-header "> Social
     <a href="#" class="fa fa-facebook"></a>
     <a href="https://twitter.com/mmohanreddyp" target="_blank" class="fa fa-twitter"></a>
     <a href="https://www.linkedin.com/in/mohanrpaidimarla94ab84132/" target="_blank" class="fa fa-linkedin"></a>
         </h3>



</div>