<div class="cd-banner" ><h3>Highest Education : Masters </h3></div>
<div class="cd-body">  <!-- custom directive body -->

    <h3 class="contact-header"> Masters</h3>
    <!--<p> Completed Masters in Mechanical Engineering, from <strong>India's one of the top most universities</strong> ( National Institute-->
    <!--of technology, Warangal, Andhra Pradesh, India), from 2005 to 2007. Secured 7.9 CGPA.</p>-->

   <p> Master of Technology in Computer Integrated Manufacturing - National Institute of technology, Warangal,
       Andhra Pradesh, India (<strong> India's one of the best ranked universities </strong>), 2005 - 2007
   </p>


    <h3 class="contact-header"> Bachelors</h3>
    <p> Bachelor of Technology in Mechanical Engineering - Jawaharlal Nehru Technological University, Andhra Pradesh, India,  1999 to 2003</p>

    <h3 class="contact-header"> Certifications</h3>
    <p> Certified in Computer Programming with emphasis on the following languages/technologies.</p>
    <ul class="cert-program">

        <li >- Microsoft Certified C# Application Developer</li>
        <li >- JavaScript</li>
        <li>- Cloud Computing, AWS</li>
        <li>- NoSQL DataBases, MongoDB</li>
    </ul>

</div>