<div class="cd-banner" ><h3>Highest Education : Masters </h3></div>
<div class="cd-body">  <!-- custom directive body -->

    <h3 class="contact-header"> Certification in Internet Programming</h3>
    <p> Attended a certification course in Internet Programming from University of California, SantaCruz,
        Silicon Valley Extension. Studied following subjects in the course.</p>
    <ul class="cert-program">
        <li >- JavaScript</li>
        <li>- Cloud Computing, AWS</li>
        <li>- Python Programming</li>
        <li>- C# .net</li>
        <li>- Object Oriented Analysis and Design</li>
        <li>- JAVA programming</li>

    </ul>
    <p></p>

    <h3 class="contact-header"> Master of Technology</h3>
    <p> Completed Masters in Mechanical Engineering, from India's one of the top most universities ( National Institute
    of technology, Warangal, Andhra Pradesh, India), from 2005 to 2007. Secured 7.9 CGPA.</p>
    <p>
        Studied Computer Integrated Manufacturing as major.
    </p>

    <h3 class="contact-header"> Bachelor of Technology</h3>
    <p> Completed Bachelors in Mechanical Engineering, from  Jawahar Lal Nehru Technological University,
        Andhra Pradesh, India) from 1998 to 2002 and Secured 68%</p>
</div>