<div class="cd-banner" ><h3>10+ years of software development experience </h3></div>

<div class="cd-body">
    <h3 class="contact-header">Full Stack Developer</h3>
    <ul class="exp-summary">
        <li>
            Passionate, creative and results oriented Engineering leader with
             <strong>10+ years of substantial software development experience</strong> in design and development of windows applications and web applications

        </li>
        <li>
             Strong expertise in WinForms and web applications development using <strong>C++, C#.Net, ADO.Net, LinQ, WPF,
            XML, XAML, JavaScript, Html5, JQuery and AngularJS 1.x, Angular2, SASS, LESS</strong>

        </li>
        <li>
             Hands on experience in windows desktop applications development using C#.net 3.0/3.5/4.5 frameworks and WPF

        </li>
        <li>
             Proficiency with Html5, JavaScript, AngularJS 1.5.x, Single Page Applications
        </li>
        <li>
             Good understanding of <strong>Singleton/Abstract/State/MVC/MVP/ MVVM patterns</strong>
        </li>

        <li>
             Complete life cycle (SDLC) knowledge of a product life cycle involving define, design, development and testing phases
        </li>
        <li>
             Experience using <strong>TFS, SubVersion and Git</strong> for check-in/check-out/merging/branching the code
        </li>
        <li>
             Proven problem solving skills in complex integrated environments
        </li>

        <li>
             Wide ranging skills in design &amp; development of software products
        </li>
        <li>
             Strong written, communications and presentation skills
        </li>

        <li>
             Worked as a team lead and handled a team of 6 people
        </li>
        <li>
             Comfortable with <strong>Agile, waterfall and hybrid</strong> development processes
        </li>

    </ul>
    <br>
    <h3 class="contact-header">Additional Skills</h3>

    <ul class="exp-summary">
        <li>Intermediate knowledge of <strong>AWS</strong> programming concepts</li>
        <li>Beginners knowledge on <strong>python</strong> language concepts</li>
        <li>Intermediate knowledge of <strong>MongoDB</strong> concepts</li>
        <li>Intermediate knowledge of <strong>Java programming</strong></li>
    </ul>


</div>